<header>
    <nav class="navbar navbar-expand-md top-bar fixed-top">
        <a class="navbar-brand original" href="#"><img src="https://scontent-scl1-1.xx.fbcdn.net/v/t1.15752-9/55719257_2372173099670904_3490175980478136320_n.png?_nc_cat=110&_nc_ht=scontent-scl1-1.xx&oh=b6ca74fad260c7567a95738bc3406326&oe=5D1151B5" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comunidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Trabajo</a>
                </li>

            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="¿Qué buscas hoy?" aria-label="Search">

            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Es</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Inglés</a>
                        <a class="dropdown-item" href="#">Quechua</a>
                    </div>
                </li>


            </ul>
        </div>
    </nav>
</header>
<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="image-corausel"  role="img">
                    <img src="https://user-images.githubusercontent.com/39272944/55281578-83ef8d80-5304-11e9-9a0c-793b7f88207f.png" alt="girls">
                  </div>
                  <div class="container">
                    <div class="carousel-caption text-left">
                      <h1 class="sl-title">Mujeres que inspiran mujeres</h1>
                      
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class=" image-carousel"   role="img">
                    
                    <img src="https://user-images.githubusercontent.com/39272944/55281579-83ef8d80-5304-11e9-8819-86e25cfe7302.png" alt="girls">
                </div>
                  
                  <div class="container">
                    <div class="carousel-caption text-left">
                      <h1 class="sl-title">Another example headline.</h1>
                                         </div>
                  </div>
                </div>
             </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
</section>
<section class="tarj">
    <div class="container">
        <div class="row">
           <div *ngFor="let org of dataOrgs" class="col-xs-12 col-sm-6 col-md-3 ">
                <div class="card mb-4 shadow-sm">
                    <div >
                        <img [src]="org.image" class="img-fluid" alt="">
                    </div>
                    <div class="card-body">
                        <p class="name">Nombre: {{org.name}}</p>
                        <p class="type-com">Tipo: {{org.type}}</p>
                        <p class="type-lt">Categorías: Literatura, investigación</p>
                        <p><a class="btn btn-secondary contact" href="#" role="button">Contactar</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="container">
</footer>
------------------------------------------------------
<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WomensLink</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md top-bar fixed-top">
      <a class="navbar-brand original" href="#"><img src="https://scontent-scl1-1.xx.fbcdn.net/v/t1.15752-9/55719257_2372173099670904_3490175980478136320_n.png?_nc_cat=110&_nc_ht=scontent-scl1-1.xx&oh=b6ca74fad260c7567a95738bc3406326&oe=5D1151B5" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Comunidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trabajo</a>
          </li>

        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="¿Qué buscas hoy? " aria-label="Search"><i class="fas fa-search"></i>

        </form>
        <ul class="navbar-nav  visible-lg">
          <li class="nav-item">
            <a class="nav-link" href="#">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Registrate</a>
          </li>
          <li class="nav-item  dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Es</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Inglés</a>
              <a class="dropdown-item" href="#">Quechua</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="image-corausel"  role="img">
            <img src="./img/girls.png" alt="girls">
          </div>
          <div class="container">
            <div class="carousel-caption text-left">
              <h1 class="sl-title">Mujeres que inspiran mujeres</h1>
              
              <p><a class="btn btn-lg btn-prim" href="#" role="button">Inicia Sesión</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class=" image-carousel"   role="img">
            
            <img src="./img/girls.png" alt="girls">
        </div>
          
          <div class="container">
            <div class="carousel-caption text-left">
              <h1 class="sl-title">Descubre oportunidades educativas, laborales y más.</h1>
             
              <p><a class="btn btn-lg btn-prim" href="#" role="button">Inicia Sesión</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div   class=" image-carousel"   role="img">
            <img src="./img/" alt="girls">
        </div>
          <div class="container">
            <div class="carousel-caption text-left">
              <h1 class="sl-title">One more for good measure.</h1>
             
              <p><a class="btn btn-lg btn-prim" href="#" role="button">Inicia Sesión</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
  </section>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Unidas podemos lograr grandes cosas</h1>
      <div class="col-xs-12">
          <div class="content-selection ">
            <span class="btn-">
                <p>POR INTERES</p>
                <button class="myBtn bt-1" id="myBtn"><span> Educación, arte, cultura, etc </span></button>
            </span>
            <span>
                <p>POR UBICACIÓN</p>
                <button class="myBtn bt-2" id="myBtn"><span> Perú, Huancayo, Lima </span></button>
            </span>
            <span>
                <p></p>
                <button class="myBtn bt-3" id="myBtn"><span> Buscar </span></button>
            </span>
            <span>
                <p></p>
                <button class="myBtn bt-4" id="myBtn"><span> Inscribe a tu comunidada</span><i class="fas fa-plus"></i></button>
            </span>
             
          </div>
      </div>
   
    </div>
  </section>

  <section class="tarj">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 ">
          <div class="card mb-4 shadow-sm">
            <img src="./img/logo.png" class="img-thumbnail ">
            <div class="card-body">
              <p class="name">Nombre de la organización</p>
              <p class="type-com">Tipo: Comunidad</p>
              <p class="type-lt">Tipo: Literatura, investigación</p>
              <p><a class="btn btn-secondary contact" href="#" role="button">Contactar</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card mb-4 shadow-sm">
              <img src="./img/logo.png" class="img-thumbnail ">
            <div class="card-body">
              <p class="name"><b>Nombre de la organización</b> </p>
              <p class="type-com">Tipo: Comunidad</p>
              <p class="type-lt">Tipo: Literatura, investigación</p>
              <p><a class="btn btn-secondary contact" href="#" role="button">Contactar</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card mb-4 shadow-sm">
              <img src="./img/logo.png" class="img-thumbnail ">
            <div class="card-body">
              <p class="name">Nombre de la organización</p>
              <p class="type-com">Tipo: Comunidad</p>
              <p class="type-lt">Tipo: Literatura, investigación</p>
              <p><a class="btn btn-secondary contact" href="#" role="button">Contactar</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="name">Nombre de la organización</p>
              <p class="type-com">Tipo: Comunidad</p>
              <p class="type-lt">Tipo: Literatura, investigación</p>
              <p><a class="btn btn-secondary contact" href="#" role="button">Contactar</a></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>





  <footer class="container">
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="./app.js"></script>
</body>

</html> -->
